@model Futbolcu.Models.PostVM.DetailsVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fb {
        background: url(../images/fb_ico.png) 0px 0px no-repeat;
        height: 20px;
        width: 20px;
        margin: 0;
        margin-right: 5px;
    }
</style>

<div class="PostDetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 " >   </div>
            <div class="col-sm-9 col-md-9 col-lg-6">
                <div class="detailsContext" style="background:white;">
                    <div>
                        <img src="~/images/@ViewBag.Post.Image" style="width:100%;" />
                    </div>
                    <div class="shareData">
                        <div class="date" style="float:left;color:aqua; margin-left:35px;">
                            @ViewBag.Post.Date
                        <div style="float:left;color:aqua ;margin-left:20px;"> @ViewBag.Post.Count</div>
                        <div style="margin:2px 10px;float: left;width: 20px;height: 20px;background: url(/images/Product/1200show__count2.png) 0px 8px no-repeat; "></div>

                        <span style="color:aqua; margin-left:10px;"> Plaşmaq </span>
                        <div style="margin-top:2px; float: right;width: 20px;height: 20px;background: url(/images/Product/fb_ico.png) 0px 2px no-repeat; "> </div>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="fb"></a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="margin-bottom:20px; "><h2>@ViewBag.Post.Title</h2></div>
                <div><h4 style="line-height: 1.6;"> @ViewBag.Post.Description</h4></div>
                @if (ViewBag.Post.Video != null)
                { <div style="margin:20px 0px;"> 
                    <iframe width="100%" height="345" src=@ViewBag.Post.Video></iframe>
                    </div>
                }
                </div >
                
            </div>
            <div class="  col-lg-3 col-sm-2 col-md-3" style="background:white">
                <div style="font-size: 1.7em;font-family: KelsonSansBold; margin-bottom: 10px;"> Ən cox oxunanlar</div>
                @foreach (var item in Model.Post.Where(a=>a.Id!=ViewBag.Post.Id).OrderBy(a => a.Count).Take(6))
                {
                <div class="item-aside" style="margin:40px 0px;  ">   <a href="/Home/Details?id=@item.Id">

                        <span>@item.Title</span>
                        <div  >19/05/2019, 12:45</div>
                        <img src="~/images/@item.Image" style="width:100%; ">
                      </a>
                </div>
                }
            </div>
        </div>
    </div>
    </div>
